@charset "utf-8";
/* CSS Document */
  body{
 	margin-top:0px;
 	margin-left:0px;
 	margin-right:0px;
 	background-color: khaki;
	  }

  h1{
	text-align: center;
    }

  p{
    font-size: 200%;
    text-align: center;
   }

  p1{
        font-size: 200%;
        text-align: center;
	}

   h3{
        font-size: 200%;
        text-align: center;
     }
   
  h4{
        font-size: 200%;
        text-align: center;
     }        
  
  p3{
    	font-size: 200%;
        text-align: center;
	}

  h5{
    	font-size: 200%;
        text-align: center;
	}

  p4{
    	font-size: 200%;
        text-align: center;
    }

	h6,h7{
		font-size: 200%;
        text-align: center;
    }

    p5,p6{
    	font-size: 200%;
        text-align: center;
     }

	h7{
    	font-size: 200%;
        text-align: center;

	  }
	h8{
    	font-size: 200%;
        text-align: center;

